<h1>What is the point of this site?</h1>
<p>First and foremost, this is an idea that someone presented at a local Startup Weekend that I was really enthusiastic about. <a href="http://lunchup.com">LunchUp!</a> is pretty cool and I strongly encourage you to check it out, but it lacked the features I was looking for.</p>
<p>The point of this site is to make it effortless for me to manage the list of people I want to routinely connect with in the physical world. Once I have my queue of people, I can easily schedule time out with them.</p>
<p>I built this site as a quick demonstration of my skills using a variety of tools that I had to learn during the project. While I will probably continue to improve it, this version was built in 15.5 hours of work.</p>
