<h1>Who did this?</h1>
<p>I am <a href="http://about.wfj3.com">Willis F. Jackson III</a>, and I am a web application development contractor available for hire. You can reach me quickly on <a href="http://twitter.com/wfjackson3">Twitter</a> if you like the site or are interested in hiring me.</p>
