<%= render 'shared/leftnav' %>
<h1>Welcome to getDrinks!</h1>
<p>Right now this is just a very small personal project. It doesn't have the functionality for you to use it yet, but if you are interested in the concept, drop a note on the <%= link_to "contact", contact_path %> page.</p>
<div class="clear"></div>

