<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @invite_status.status %>
</p>


<%= link_to 'Edit', edit_invite_status_path(@invite_status) %> |
<%= link_to 'Back', invite_statuses_path %>
